.DS_Store
/Icon*
/dist/
/node_modules/
/package.json
/package-lock.json
/electron-main.cjs
/tools/
/spanish-arcade.is-a.dev.json
/assets/icon.iconset/
/assets/spanish-arcade.icns
/assets/spanish-arcade-icon.png
